<app-header></app-header>

<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-flush-group">
            <a href="/dashboard/singles" class="list-group-item list-group-item-action bg-light">
                Singles</a>

            <a href="/dashboard/boxes" class="list-group-item list-group-item-action bg-light">
                Boxes</a>

            <a href="/dashboard/breaks" class="list-group-item list-group-item-action bg-light">
                Breaks</a>
            
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>