<app-header></app-header>

<div class="wrapper">
    
    <nav class="filterby">
        <p>Filter by Sport: </p>
        <button (click)="filterBySport('')" class="filter-btn">All</button>
        <button (click)="filterBySport('Basketball')" class="filter-btn">Basketball</button>
        <button (click)="filterBySport('Football')" class="filter-btn">Football</button>
        <button (click)="filterBySport('Baseball')" class="filter-btn">Baseball</button>
        <button (click)="filterBySport('Soccer')" class="filter-btn">Soccer</button>
    </nav>
    
    <!-- Card List -->
    
    </div>

<div class="row">
    <div class="col-sm-4" *ngFor="let breakObj of filteredBreaksWithImages">
    <div class="card">
        <div class="card-img">
        <img src="../../../assets/images/boxes/{{ breakObj.img }}" alt="{{ breakObj.brand }}">
        </div>
        <div class="card-desc">
        <p><strong>Brand:</strong> {{ breakObj.brand }}</p>
        <p> {{ breakObj.description }}</p>
        <p><strong>Price:</strong> ${{ breakObj.price }}</p>
        <button class="btn btn-primary" (click)="addToCart(breakObj)">Add to cart</button>
        </div>
    </div>
    </div>
</div>

<app-footer></app-footer>