<app-header></app-header>
<div class="wrapper">

<div class="row">
    <div class="col-sm-4">
        <div class="card-body">
            <div class="card">
                <div class="card-img">
                <img src="../../../assets/images/23-24_mosaic.png" class="card-img-top" alt="Mosaic Basketball"/>
                <div class="card-body">
                <h5 class="card-title">Explore our shop</h5>
                <p class="card-text">Explore single cards, sealed boxes, and join breaks.</p>
                <a href="/boxes" class="btn btn-primary" data-mdb-ripple-init>Shop</a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-body">
            <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/images/discord-square-black-icon.png"  alt="Discord"/>
                        <div class="card-body">
                        <h5 class="card-title">Join our community Discord</h5>
                        <p class="card-text">Chat with others and build a collectors community.</p>
                        <a href="https://discord.com/" class="btn btn-primary" data-mdb-ripple-init>Join Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-sm-4">
        <div class="card-body">
            <div class="card">
                <div class="card-img">
                <img src="../../../assets/images/youtube.png"  alt="YouTube"/>
                <div class="card-body">
                <h5 class="card-title">Product Reviews</h5>
                <p class="card-text">Visit our Youtube channel to watch our reviews on recent product drops. ADDing extra text to increase the size of this box.</p>
                <a href="https://youtube.com/" class="btn btn-primary" data-mdb-ripple-init>YouTube</a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-body">
            <div class="card">
                <div class="card-img">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" alt="Fissure in Sandstone"/>
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


</div>

<app-footer></app-footer>