.col-sm-4{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    max-height: 25%;
    max-width: 50%;
}

.wrapper{
    margin-right: 10%;
    margin-left: 10%;
}

.btn{
    color:#F7F7FF;
    background-color: #fe5f55;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    
.btn:hover {
    background-color: #f7f7ff;
    color: #fe5f55;
    border-color: #f7f7ff;
    transform: scale(1.05);
    transition: color 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titles{
    font-size: xx-large;
    text-align: center;
}



.card-text{
    text-align: center;
}

.card-img{

text-align: center;
height: auto;
border: 2px solid #495867;
}

.spacer{
    padding-top: 20px;
}

.card img {
    width: 200px;           
    height: 200px;          
    object-fit: cover;      
    border-radius: 5px;    
    justify-content: center;
    padding: 10px;
    
}